@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>

<body>
	<table>
		<tr>
			<th>Eno</th>
			<th>Employee Name</th>
			<th>Job</th>
			<th>Salary</th>
			<th>Deptno</th>

		</tr>
		<tr>
			<td>1</td>
			<td>Sharma</td>
			<td>Accountant</td>
			<td>10000</td>
			<td>7</td>

		</tr>
		
	</table>
</body>

</html>

